@model Nop.Plugin.Widgets.MegaMenu.Models.PublicInfoModel

@using Nop.Web.Framework.UI

<script type="text/javascript" src="~/Plugins/Widgets.MegaMenu/Scripts/jquery/jquery.min.js"></script>
<div id="dv_CATEGORYAddPopup" style="display:none"></div>
<script>
    $(document).ready(function () {


    });

</script>
