     #megaMenu {  /*ul*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;      
}

#megaMenu li {    
    /*float: left;*/
}

#megaMenu li a, .dropbtn {
    display: inline-block;     
    text-align: center;     
    text-decoration: none;       
}

#megaMenu li a:hover, .dropdown:hover .dropbtn {
    
}

#megaMenu li.dropdown {     
    display: inline-block;   
 
}

#megaMenu .dropdown-content {
   padding : 25px; 
    left : 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y : scroll;
     width : 100%;
    max-height : 400px;
}

#megaMenu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#megaMenu .dropdown-content a:hover {background-color: #f1f1f1}

#megaMenu .dropdown:hover .dropdown-content {
    display: block;
}

.mega-menu-column {
    width: 25%;
    float: left;    
}
                 

li.nav-header-category {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    font-family: Lato;
    text-transform: uppercase;  
    text-align : left;   
}

li.nav-header-subcategory {
    font-size: 8px;
    color: #000;
    font-weight: bold;
    font-family: Lato;
    text-transform: uppercase;       
}

li.nav-header-product {
    font-size: 8px;
    color: #000;
    font-weight: bold;
    font-family: Lato;
    text-transform: uppercase;       
    text-align : left;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
/*.sticky {
  position: fixed;
  top: 0;
  width: inherit;
}*/